* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0 }
.mySlides {display: none}
img {vertical-align: middle;}



/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
  display: block;
  height: 100vh;
  min-height: 500px;
  overflow: hidden;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-left: 140px;
  margin-right: 140px;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.sol{
  position: absolute;
  width: 60px;
  top: 10px;
  margin-left: 20px;
  /* animation-name: sol_movimiento;
  animation-duration: 4s;
  animation-fill-mode: forwards; */
  /* animation: go-left-right 3s infinite alternate; */
  cursor: pointer;
  
 
    
}
.sol_move{
  animation:  sol_movimiento 9s forwards;
  
  /* animation-delay: 1s;  */
  cursor: pointer;
}

@keyframes sol_movimiento{
  0%{
      left: 0px;
  }
  100%{
      left: calc(90% - 50px);;
  }
}

.nubes{
  position: absolute;
  width: 30rem;
  top: 5rem;
  right: 20px;
}

.nubes_mueve{
  animation: nube_animado 25s linear infinite;
}

@keyframes nube_animado{
      0%{
        right: 0px;
      }
      100%{
        right: calc(80% - 50px);
      }
}

/* animacion planta */

.planta{
  position: absolute;
  width: 11rem;
  bottom: 130px;
  margin-left: 470px;
}


  .shake-little {
    display: inherit;
    transform-origin: center center; }
  
  .shake-freeze,
  .shake-constant.shake-constant--hover:hover,
  .shake-trigger:hover .shake-constant.shake-constant--hover {
    animation-play-state: paused; }
  
  .shake-freeze:hover,
  .shake-trigger:hover .shake-freeze, .shake-little:hover,
  .shake-trigger:hover .shake-little {
    animation-play-state: running; }
  
  @keyframes shake-little  {
    2% {
      transform: translate(0px, 1px) rotate(0.5deg); }
    4% {
      transform: translate(0px, 1px) rotate(0.5deg); }
    6% {
      transform: translate(1px, 1px) rotate(0.5deg); }
    8% {
      transform: translate(0px, 0px) rotate(0.5deg); }
    10% {
      transform: translate(1px, 0px) rotate(0.5deg); }
    12% {
      transform: translate(1px, 1px) rotate(0.5deg); }
    14% {
      transform: translate(0px, 0px) rotate(0.5deg); }
    16% {
      transform: translate(1px, 0px) rotate(0.5deg); }
    18% {
      transform: translate(0px, 1px) rotate(0.5deg); }
    20% {
      transform: translate(0px, 1px) rotate(0.5deg); }
    22% {
      transform: translate(1px, 1px) rotate(0.5deg); }
    24% {
      transform: translate(0px, 1px) rotate(0.5deg); }
    26% {
      transform: translate(0px, 0px) rotate(0.5deg); }
    28% {
      transform: translate(1px, 0px) rotate(0.5deg); }
    30% {
      transform: translate(1px, 0px) rotate(0.5deg); }
    32% {
      transform: translate(0px, 1px) rotate(0.5deg); }
    34% {
      transform: translate(0px, 1px) rotate(0.5deg); }
    36% {
      transform: translate(0px, 0px) rotate(0.5deg); }
    38% {
      transform: translate(1px, 1px) rotate(0.5deg); }
    40% {
      transform: translate(1px, 0px) rotate(0.5deg); }
    42% {
      transform: translate(0px, 1px) rotate(0.5deg); }
    44% {
      transform: translate(0px, 1px) rotate(0.5deg); }
    46% {
      transform: translate(0px, 0px) rotate(0.5deg); }
    48% {
      transform: translate(0px, 1px) rotate(0.5deg); }
    50% {
      transform: translate(0px, 1px) rotate(0.5deg); }
    52% {
      transform: translate(1px, 1px) rotate(0.5deg); }
    54% {
      transform: translate(0px, 0px) rotate(0.5deg); }
    56% {
      transform: translate(0px, 0px) rotate(0.5deg); }
    58% {
      transform: translate(0px, 0px) rotate(0.5deg); }
    60% {
      transform: translate(0px, 1px) rotate(0.5deg); }
    62% {
      transform: translate(0px, 0px) rotate(0.5deg); }
    64% {
      transform: translate(1px, 0px) rotate(0.5deg); }
    66% {
      transform: translate(0px, 1px) rotate(0.5deg); }
    68% {
      transform: translate(0px, 0px) rotate(0.5deg); }
    70% {
      transform: translate(1px, 1px) rotate(0.5deg); }
    72% {
      transform: translate(1px, 0px) rotate(0.5deg); }
    74% {
      transform: translate(0px, 1px) rotate(0.5deg); }
    76% {
      transform: translate(0px, 1px) rotate(0.5deg); }
    78% {
      transform: translate(1px, 0px) rotate(0.5deg); }
    80% {
      transform: translate(1px, 0px) rotate(0.5deg); }
    82% {
      transform: translate(0px, 0px) rotate(0.5deg); }
    84% {
      transform: translate(1px, 0px) rotate(0.5deg); }
    86% {
      transform: translate(0px, 0px) rotate(0.5deg); }
    88% {
      transform: translate(0px, 0px) rotate(0.5deg); }
    90% {
      transform: translate(1px, 1px) rotate(0.5deg); }
    92% {
      transform: translate(1px, 1px) rotate(0.5deg); }
    94% {
      transform: translate(1px, 0px) rotate(0.5deg); }
    96% {
      transform: translate(1px, 0px) rotate(0.5deg); }
    98% {
      transform: translate(0px, 0px) rotate(0.5deg); }
    0%, 100% {
      transform: translate(0, 0) rotate(0); } }
  
  .shake-little:hover,
  .shake-trigger:hover .shake-little, .shake-little.shake-freeze, .shake-little.shake-constant {
    animation-name: shake-little;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; }

/*  */    
