.texto_1{
    position: absolute;
    background-color: bisque;
    height: 100px;
    padding: 5px;
    bottom: 10px;
}

.uno {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  